<%- include('partials/header'); -%>

<div class="container-md">
    <h1>Arbres</h1>

    <div class="container-md">
        <h2>Projet du <%= arbreName %></h2>
        <div class="schemaProject">
            <img class="startPictProject" src="/img/tab1<%= arbreName %>.jpg" alt="">
            <div class="arrow"><i class="fa-sharp fa-solid fa-minus"></i>
                <i class="fa-sharp fa-solid fa-minus"></i>
                <i class="fa-sharp fa-solid fa-minus"></i>
                <i class="fa-sharp fa-solid fa-minus"></i>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <img class="endPictProject" src="/img/tab2<%= arbreName %>.jpg" alt="">
        </div>
    </div>
    <div class="container-md">
        <h2>Travaux sur <%= arbreName %></h2>
        <div class="chronologie">

            <%  travaux.forEach(function(date){ %>
                <a href="/posts/ <%=date.title %>"><%= date.title %></a>
             <% }) %>

        </div>
    </div>
    <div class="container-md">
        <h2>Fiche espèce du <%= arbreName %></h2>
        <div class="ficheEspece">
            <ul>
                <li>Famille: <%= fiche.famille %> </li>
                <li>Type: <%= fiche.type%></li>
                <li></li>
                
            </ul>
        </div>
        <div class="illustrationEspece">ICON</div>
    </div>
    <div class="container-md">
        <h2>Méthode de culture appliquée au <%= arbreName %></h2>
        <div class="cultureDetail">
            <p>exposition: Soleil de xx à xx, substrat: mix pumice pouzzolane</p>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>
