
<%- include('partials/header'); -%>

    <div class="container top-container">
        <h1>Accueil</h1>
        <p><%= homeText %></p>
    </div>
    <div class="container">
        <h1>Collections</h1>
        <div class="row  middle-container" style="align-items: center;">
            <div class="col-md-2" >
                <a href="/arbres"><img class="images" src="/img/img1.jpg" alt="img1"></a>
            </div>
            <div class="col-md-2" >
                <a href="/arbres"><img class="images" src="/img/img2.jpg" alt="img2"></a>
            </div>
            <div class="col-md-2" >
                <a href="/arbres"><img class="images" src="/img/img3.jpg" alt="img3"></a>
            </div>
            <div class="col-md-2" >
                <a href="/arbres"><img class="images" src="/img/img4.jpg" alt="img4"></a>
            </div>
            <div class="col-md-2" >
                <a href="/arbres"><img class="images" src="/img/img5.jpg" alt="img5"></a>
            </div>
            <div class="col-md-2" >
                <a href="/arbres"><img class="images" src="/img/img6.jpg" alt="img6"></a>
            </div>
        </div>
    </div>
    <hr>

    <%  postsContent.forEach(function(post){ %>
    <div class="container-md">
        <h1><%= post.title %></h1>
        <p><%= post.textBody.substring(0, 120) + " ..."  %>
        <a href="/posts/ <%=post.title %>" > readMore</a>
        </p>
    </div>
        
    <% }) %>

<%- include('partials/footer'); -%>


