
<%- include('partials/header'); -%>

    <h1>Accueil</h1>
    <p><%= homeText %></p>   

    <%  postsContent.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <p><%= post.textBody.substring(0, 120) + " ..."  %>
    <a href="/posts/ <%=post.title %>" > readMore</a>
    </p>
    
    <% }) %>

    

<%- include('partials/footer'); -%>


